<!-- @format -->

<style>
  mat-cell {
    /* text-align: center !important; */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding: 2px;
  }
  ng-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    flex: 1;
    display: block !important;
    text-align: start !important;
  }

  .action {
    margin: 10px !important;
    width: 10px !important;
  }
</style>
<div class=".regulations main-content">
  <div
    class="card"
    style="
      border-radius: 0px;
      height: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      padding-top: 20px;
    "
  >
    LES EVERNEMENTS  DU RESHAOC
  </div>
  <div class="containe">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-activite-tab"
          data-toggle="tab"
          data-target="#nav-activite"
          type="button"
          role="tab"
          aria-controls="nav-activite"
          aria-selected="true"
        >
          Journées Hospitalières
        </button>

        <button
          class="nav-link"
          id="nav-article-tab"
          data-toggle="tab"
          data-target="#nav-article"
          type="button"
          role="tab"
          aria-controls="nav-article"
          aria-selected="false"
        >
          Journées de Coopération
        </button>


        <button
          class="nav-link"
          id="nav-js-tab"
          data-toggle="tab"
          data-target="#nav-article"
          type="button"
          role="tab"
          aria-controls="nav-article"
          aria-selected="false"
        >
          Journées Scientifiques
        </button>

        <button
          class="nav-link"
          id="nav-agenda-tab"
          data-toggle="tab"
          data-target="#nav-agenda"
          type="button"
          role="tab"
          aria-controls="nav-agenda"
          aria-selected="false"
        >
          Autres évenements
        </button>




      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-activite"
        role="tabpanel"
        aria-labelledby="nav-activite-tab"
      >

        <div class="d-flex justify-content-end">
          <a
            [routerLink]="['/add-event', 'JOURNEE-HOSPITALIERE']"
            mat-raised-button=""
            class="btn mat-raised-button mat-button-base"
          >
            <span class=""
              ><span class=""> <i class="material-icons">add</i></span> ajouter
              une journée
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h3 class="card-title">Journées Hospitalières</h3>
            <p class="card-category">
              Ce panel vous permets de gérer les Journées Hospitalières
            </p>
          </div>
          <div class="card-body">
            <div class="m-3 d-flex justify-content-between">
              <div class="">
                <input
                  class="form-control"
                  type="text"
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Rechercher"
                />
              </div>
            </div>
            <div class="row table-responsible">
              <div class="d-flex justify-content-center">
                <div
                  class="spinner-border text-success text-center"
                  role="status"
                  *ngIf="spinner"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div class="m-2" *ngIf="!spinner">
                <table class="table table-responsive table-striped">
                  <tr class="card-header card-header-danger">
                    <th>N0</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Date debut de l'evernement</th>
                    <th>Date fin de l'evernement</th>
                    <th>Frais de participation  </th>
                    <th>Lieu</th>

                    <th>image</th>
                    <th>Date publication</th>
                    <th>
                     IsVedette
                    </th>
                    <th>Action</th>
                  </tr>

                  <tbody>
                    <tr *ngFor="let a of listJourneeHospitaliere; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ a.title }}</td>
                      <td>{{ a.type }}</td>
                      <td>{{ a.date  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.date_fin  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.prix }}</td>
                      <td>{{ a.lieu }}</td>
                      <td>
                        <img
                          width="100"
                          src="{{ url }}/actualite/{{ a.image }}"
                          alt=""
                        />
                      </td>
                      <td>{{ a.created_at }}</td>
                      <td>
                        <mat-slide-toggle [checked]="a.isvedette ==1 ? true:false " (change)="checkCheckBoxvalue($event,a.id)">

                        </mat-slide-toggle>
                      </td>
                      <td>
                        <a
                          [routerLink]="['/edit-event', a.id]"
                          rel="tooltip"
                          class="action"
                        >
                          <i class="material-icons text-info">info</i>
                        </a>
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-link btn-sm btn-danger"
                          (click)="deleteElement(a.id)"
                        >
                          <i class="material-icons">close</i>
                        </button>

                        <a href="javascript:void(0)" (click)="openModal1(a.id,'list')" rel="tooltip" class="action">
                          <i class="material-icons text-info">list</i> List Reservation

                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!--                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="actu.length"></mat-paginator>-->
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="nav-article"
        role="tabpanel"
        aria-labelledby="nav-article-tab"
      >
        <div class="d-flex justify-content-end">
          <a
            [routerLink]="['/add-event', 'JOURNEE-COOPERATION']"
            mat-raised-button=""
            class="btn mat-raised-button mat-button-base"
          >
            <span class=""
              ><span class=""> <i class="material-icons">add</i></span> ajouter
             une Journée de coopération
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h3 class="card-title">Journées de Coopération</h3>
            <p class="card-category">
              Ce panel vous permets de gérer les  Journées de Coopération
            </p>
          </div>
          <div class="card-body">
            <div class="m-3 d-flex justify-content-between">
              <div class="">
                <input
                  class="form-control"
                  type="text"
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Rechercher"
                />
              </div>
            </div>
            <div class="row table-responsible">
              <div class="d-flex justify-content-center">
                <div
                  class="spinner-border text-success text-center"
                  role="status"
                  *ngIf="spinner"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div class="m-2" *ngIf="!spinner">
                <table class="table table-responsive table-striped">
                  <tr class="card-header card-header-danger">
                    <th>N0</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Date debut de l'evernement</th>
                    <th>Date fin de l'evernement</th>
                    <th>Frais de participation  </th>
                    <th>Lieu</th>
                    <th>image</th>
                    <th>Date de publication</th>
                    <th>IsVedette</th>

                    <th>Action</th>
                  </tr>

                  <tbody>
                    <tr *ngFor="let a of listJourneeCooperation; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ a.title }}</td>
                      <td>{{ a.type }}</td>
                      <td>{{ a.date  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.date_fin  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.prix }}</td>
                      <td>{{ a.lieu }}</td>
                      <td>
                        <img
                          width="100"
                          src="{{ url }}/actualite/{{ a.image }}"
                          alt=""
                        />
                      </td>
                      <td>{{ a.created_at }}</td>
                      <td>
                        <mat-slide-toggle [checked]="a.isvedette ==1 ? true:false " (change)="checkCheckBoxvalue($event,a.id)">

                        </mat-slide-toggle>
                      </td>

                      <td>
                        <a
                          [routerLink]="['/edit-event', a.id]"
                          rel="tooltip"
                          class="action"
                        >
                          <i class="material-icons text-info">info</i>
                        </a>
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-link btn-sm btn-danger"
                          (click)="deleteElement(a.id)"
                        >
                          <i class="material-icons">close</i>
                        </button>

                        <a href="javascript:void(0)" (click)="openModal1(a.id,'list')" rel="tooltip" class="action">
                          <i class="material-icons text-info">list</i> List Reservation

                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!--                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="actu.length"></mat-paginator>-->
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-js"
        role="tabpanel"
        aria-labelledby="nav-article-tab"
      >
        <div class="d-flex justify-content-end">
          <a
            [routerLink]="['/add-event', 'JOURNEE-SCIENTIFIQUE']"
            mat-raised-button=""
            class="btn mat-raised-button mat-button-base"
          >
            <span class=""
              ><span class=""> <i class="material-icons">add</i></span> ajouter
             une Journée de Scientifique
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h3 class="card-title">Journées Scientifiques</h3>
            <p class="card-category">
              Ce panel vous permets de gérer les Journées Scientifiques
            </p>
          </div>
          <div class="card-body">
            <div class="m-3 d-flex justify-content-between">
              <div class="">
                <input
                  class="form-control"
                  type="text"
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Rechercher"
                />
              </div>
            </div>
            <div class="row table-responsible">
              <div class="d-flex justify-content-center">
                <div
                  class="spinner-border text-success text-center"
                  role="status"
                  *ngIf="spinner"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div class="m-2" *ngIf="!spinner">
                <table class="table table-responsive table-striped">
                  <tr class="card-header card-header-danger">
                    <th>N0</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Date debut de l'evernement</th>
                    <th>Date fin de l'evernement</th>
                    <th>Frais de participation  </th>
                    <th>Lieu</th>
                    <th>image</th>
                    <th>Date de publication</th>
                    <th>isVedette</th>
                    <th>Action</th>
                  </tr>


                  <tbody>
                    <tr *ngFor="let a of listJourneeScientifique; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ a.title }}</td>
                      <td>{{ a.type }}</td>
                      <td>{{ a.date  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.date_fin  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.prix }}</td>
                      <td>{{ a.lieu }}</td>
                      <td>
                        <img
                          width="100"
                          src="{{ url }}/actualite/{{ a.image }}"
                          alt=""
                        />
                      </td>
                      <td>{{ a.created_at }}</td>
                      <td>
                        <mat-slide-toggle [checked]="a.isvedette ==1 ? true:false " (change)="checkCheckBoxvalue($event,a.id)">

                        </mat-slide-toggle>
                      </td>
                      <td>
                        <a
                          [routerLink]="['/edit-event', a.id]"
                          rel="tooltip"
                          class="action"
                        >
                          <i class="material-icons text-info">info</i>
                        </a>
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-link btn-sm btn-danger"
                          (click)="deleteElement(a.id)"
                        >
                          <i class="material-icons">close</i>
                        </button>

                        <a href="javascript:void(0)" (click)="openModal1(a.id,'list')" rel="tooltip" class="action">
                          <i class="material-icons text-info">list</i> List Reservation

                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!--                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="actu.length"></mat-paginator>-->
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="nav-agenda"
        role="tabpanel"
        aria-labelledby="nav-agenda-tab"
      >
        <div class="d-flex justify-content-end">
          <a
            [routerLink]="['/add-event', 'AUTRE-EVERNEMENT']"
            mat-raised-button=""
            class="btn mat-raised-button mat-button-base"
          >
            <span class=""
              ><span class=""> <i class="material-icons">add</i></span> ajouter
              Autre Evernement
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h3 class="card-title">Autres évenements</h3>
            <p class="card-category">
              Ce panel vous permets de gérer les Autres évenements
            </p>
          </div>
          <div class="card-body">
            <div class="m-3 d-flex justify-content-between">
              <div class="">
                <input
                  class="form-control"
                  type="text"
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Rechercher"
                />
              </div>
            </div>
            <div class="row table-responsible">
              <div class="d-flex justify-content-center">
                <div
                  class="spinner-border text-success text-center"
                  role="status"
                  *ngIf="spinner"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div class="m-2" *ngIf="!spinner">
                <table class="table table-responsive table-striped">
                  <tr class="card-header card-header-danger">
                    <th>N0</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Date debut de l'evernement</th>
                    <th>Date fin de l'evernement</th>
                    <th>Frais de participation  </th>
                    <th>Lieu</th>
                    <th>image</th>
                    <th>Date</th>
                    <th>IsVedette</th>
                    <th>Action</th>
                  </tr>

                  <tbody>
                    <tr *ngFor="let a of listAutreEvent; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ a.title }}</td>
                      <td>{{ a.type }}</td>
                      <td>{{ a.date  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.date_fin  | date: 'dd/MM/YYYY'   }}</td>
                      <td>{{ a.prix }}</td>
                      <td>{{ a.lieu }}</td>
                      <td>
                        <img
                          width="100"
                          src="{{ url }}/actualite/{{ a.image }}"
                          alt=""
                        />
                      </td>
                      <td>{{ a.created_at }}</td>
                      <td>
                        <mat-slide-toggle [checked]="a.isvedette ==1 ? true:false " (change)="checkCheckBoxvalue($event,a.id)">

                      </mat-slide-toggle>
                      </td>
                      <td>
                        <a
                          [routerLink]="['/edit-event', a.id]"
                          rel="tooltip"
                          class="action"
                        >
                          <i class="material-icons text-info">info</i>
                        </a>
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-link btn-sm btn-danger"
                          (click)="deleteElement(a.id)"
                        >
                          <i class="material-icons">close</i>
                        </button>

                        <a href="javascript:void(0)" (click)="openModal1(a.id,'list')" rel="tooltip" class="action">
                          <i class="material-icons text-info">list</i> List Reservation

                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>


              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!--                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="actu.length"></mat-paginator>-->
          </div>
        </div>
      </div>


      <div class="modal  " tabindex="-1 " role="dialog " [ngStyle]="{'display':display2} ">
        <div class="modal-dialog-scrollable " role="document ">
          <div class="modal-content ">
            <div class="modal-header ">
              <h4 class="modal-title " id="modal_title ">{{ titre_modal}}</h4>
              <button type="button " class="close " aria-label="Close " (click)="onCloseHandled() "><span aria-hidden="true ">&times;</span></button>
            </div>


            <div class="modal-body ">

<!--              "id": 4,-->
<!--              "email": "yacouboubassarou@gmail.com",-->
<!--              "mode": "En présentiel",-->
<!--              "civilite": "Madame",-->
<!--              "nom": "Yacoubou",-->
<!--              "prenom": "Bassarou",-->
<!--              "nom_organisation": "TopTic-Solutions",-->
<!--              "pays": "Angola", "fonction": "ssada",-->
<!--              "telephone": "97602657",-->
<!--              "attentes": "xcvxcv",-->
<!--              "event_id": 8, "created_at": "2023-11-04 18:01:36", "updated_at": "2023-11-04 18:01:36"-->

              <table class="table table-responsive table-striped">
                <tr class="card-header card-header-danger">
                  <th>N0</th>
                  <th>Nom  </th>
                  <th>Prenom  </th>
                  <th>Organisation </th>
                  <th>Mode </th>

                  <th>telephone    </th>
                  <th>Email    </th>
                  <th>Attentes    </th>
                  <th>pays    </th>

                  <th>Date    </th>

<!--                  <th>Action</th>-->
                </tr>

                <tbody>
                <tr *ngFor="let a of listReservation; let i = index">

                  <td>{{i+1}}</td>
                  <td>{{a.nom}}</td>
                  <td>{{a.prenom}}</td>
                  <td>{{a.nom_organisation}}</td>
                  <td>{{a.mode}}</td>
                  <td>{{a.telephone}}</td>
                  <td>{{a.email}}</td>
                  <td>{{a.attentes}}</td>
                  <td>{{a.pays}}</td>
                  <td>
                    {{a.created_at }}
<!--                    <button-->
<!--                            type="button"-->
<!--                            rel="tooltip"-->
<!--                            class="btn btn-link btn-sm btn-danger"-->
<!--                            (click)="deleteElement(a.id)"-->
<!--                    >-->
<!--                      <i class="material-icons">close</i>-->
<!--                    </button>-->

<!--                    <a href="javascript:void(0)" (click)="openModal1(a.id,'list')" rel="tooltip" class="action">-->
<!--                      <i class="material-icons text-info">list</i> List Reservation</a>-->
                  </td>

                </tr>
                </tbody>

              </table>

            </div>






          </div>

        </div>

      </div>



    </div>
  </div>
</div>
