<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Editer </h4>
                      <p class="card-category">Modifier les informations</p>
                  </div>
                  <div class="card-body">

<!--                      "status": true,-->
<!--                      "createdAt": "2023-02-18T19:51:35.707+00:00",-->
<!--                      "updatedAt": null,-->
<!--                      "createBy": null,-->
<!--                      "deleteBy": null,-->
<!--                      "id": 13,-->
<!--                      "username": "ASSI",-->
<!--                      "firstName": "TEST PNS",-->
<!--                      "lastName": null,-->
<!--                      "tel": null,-->
<!--                      "email": "pns.test@gouv.bj",-->
<!--                      "ifu": null,-->
<!--                      "profession": null,-->
<!--                      "roles": [-->
<!--                      {-->
<!--                      "status": false,-->
<!--                      "createdAt": null,-->
<!--                      "updatedAt": null,-->
<!--                      "createBy": "Bassrou",-->
<!--                      "deleteBy": "NULL",-->
<!--                      "id": 2,-->
<!--                      "name": "ROLE_ADMIN",-->
<!--                      "libelle": "Administrateur"-->
<!--                      }-->
<!--                      ],-->
<!--                      "accountStatus": false,-->
<!--                      "firstLogin": true-->

<!--                      value="{{user.username}}"-->



                      <form [formGroup]="userForm"  (ngSubmit)="onClickSubmit()">

                          <!-- Alert with rounded corner -->
                          <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
                              <i class="ti-info-alt"></i> {{messageNotificationForm}}
                              <button type="button" class="close" (click)="closeNotificationForm()">
                                  <span>×</span></button>
                          </div>

                          <div class="d-flex justify-content-center">
                              <div class="spinner-border text-success text-center" role="status"  *ngIf="spinner" >
                                  <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Non utilisateur"  formControlName="username" >

                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nom" formControlName="firstName"  >
                                  </mat-form-field>
                              </div>

                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email"  formControlName="email"  disabled>
                                  </mat-form-field>
                              </div>
                          </div>

                          <br>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
<!--                                  <input matInput placeholder="Fist Name" type="text">-->

                                    <mat-select placeholder="Rôle" id="role" ngClass="btn btn-default btn-link simple" formControlName="role" >
                                        <mat-option  value="ROLE_ADMIN"> ROLE_ADMIN</mat-option>
                                        <mat-option  value="ROLE_ORGANE_TECH"> ROLE_ORGANE_TECH</mat-option>
                                        <mat-option  value="ROLE_SECRETARIAT"> ROLE_SECRETARIAT</mat-option>
                                        <mat-option  value="ROLE_AUDITEUR"> ROLE_AUDITEUR</mat-option>
                                        <mat-option  value="ROLE_COMMISSION_VISITE"> ROLE_COMMISSION_VISITE</mat-option>
                                    </mat-select>


                                </mat-form-field>
                              </div>

                              
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">

                                    <mat-select placeholder="Status"     formControlName="status" ngClass="btn btn-default btn-link simple"  >
                                        <mat-option  value="true"> ACTIF </mat-option>
                                        <mat-option  value="false"> INACTIF</mat-option>

                                    </mat-select>

                                </mat-form-field>
                              </div>


                          </div>

                          <div>
                              <a routerLink="/users" mat-raised-button="" class="btn btn-fill btn-danger mat-raised-button mat-button-base ">
                                  <span class="mat-button-wrapper ">Retour</span>
                                  <div matripple=" " class="mat-ripple mat-button-ripple ">
                                  </div>
                                  <div class="mat-button-focus-overlay "></div>
                              </a>

                              <button mat-raised-button type="submit" id="sbt_btn" class="btn btn-social pull-right">

                                <span class="fa fa-spinner fa-spin d-none" id="spinner"></span>
                                  Modifier
                              </button>

                          </div>

                         <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
<!--                          <img class="img" src="./assets/img/faces/marc.jpg" />-->
                      </a>
                  </div>
                  <div class="card-body">
<!--                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
<!--                      <h4 class="card-title">Alec Thompson</h4>-->
<!--                      <p class="card-description">-->
<!--                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--                      </p>-->
<!--                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
