<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    
    ul.timeline>li {
        margin: 20px 0;
        padding-left: 20px;
    }
    
    ul.timeline>li.notdo:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
    
    ul.timeline>li.do:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22b63b;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
    
    .option_border {
        padding: 25px;
        border: solid 1px #bfbaba;
        border-radius: 10px;
        width: 100%;
    }
</style>
<div class="detail-demand-voyage main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Détail de la demande</h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="!spinner">
                        <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
                            <i class="ti-info-alt"></i> {{messageNotificationForm}}
                            <button type="button" class="close" (click)="closeNotificationForm()">
                                <span>×</span></button>
                        </div>
                        <div class=" d-flex justify-content-center ">
                            <div class="m-2 ">
                                <div>
                                    <b>Ref :</b> {{ demand.numDemande }}
                                </div>
                                <div>
                                    <b>Demande :</b> {{ demand.demande }}
                                </div>
                                <div>
                                    <span *ngIf="demand.status=='DEMANDE' " class="badge badge-info "> DEMANDE</span>
                                    <span *ngIf="demand.status=='ACCEPTE' " class="badge badge-success "> ACCEPTE</span>
                                    <span *ngIf="demand.status=='REJETE' " class="badge badge-danger "> REJETE </span>
                                    <span *ngIf="demand.status=='ENTRETIEN' " class="badge badge-warning ">ENTRETIEN
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="">
                            <ul class="timeline d-flex  flex-column-reverse">
                                <li class="do">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Demande soumise</h5>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="float-right">{{ formatDate( demand.demandeDate) }}</a>
                                            <ol>
                                                <li *ngFor="let p of data_pieces; index as i;" (click)="getTheUrl($event,p)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="">
                                                            <a [href]="p.url" class="">{{ p.nom_fichier }}</a>
                                                        </div>
                                                        <div class="fw-bold">
                                                            <a [href]="p.url" class="btn btn-link btn-sm">
                                                                <span class="fa fa-download"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </li>
                                <li class="notdo" *ngFor="let t of steps; index as i;">
                                    <a (click)="openModal(t.id)" style="cursor: pointer !important;">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">{{ t.title }}</h5>
                                            </div>
                                            <div class="card-body">
                                                <a href="#" class="float-right">{{ t.date }}</a>
                                                <ol *ngIf="t.fichier.lenght>0">
                                                    <li *ngFor=" let f of t.fichier ; index as y;" (click)="getTheUrl($event,p)">
                                                        <div class="d-flex justify-content-between ">
                                                            <div class=" ">
                                                                <a [href]="f.url" class=" ">{{ f.nom_fichier }}</a>
                                                            </div>
                                                            <div class="fw-bold ">
                                                                <a [href]="f.url" class="btn btn-link btn-sm ">
                                                                    <span class="fa fa-download "></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="card-footer ">
                                                <div class="float-right pull-right">
                                                    <span *ngIf="t.statut " class="text-success">
                                                        <i class="fa fa-info-circle "></i>
                                                        <small>utilisateur...</small>
                                                    </span>
                                                    <span *ngIf="!t.statut " class="text-danger">
                                                        <i class="fa fa-info-circle "></i>
                                                        <small>utilisateur...</small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-center ">
                            <div class=" ">
                                <a _ngcontent-aik-c8=" " class="btn btn-default " routerLink="/list-demand-voyage ">Retour</a>
                            </div>
                            <div class=" ">
                                <button class="btn btn-success " (click)="accept() ">Accepter</button>
                                <button class="btn btn-danger " (click)="denied() ">Rejeter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <iframe [src]="getSafeUrl(the_url) " type="application/pdf " width="100% " height="75% "></iframe>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1 " role="dialog " [ngStyle]="{'display':display} ">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h4 class="modal-title" id="modal_title">Décision à cette étape</h4>
                    <button type="button" class="close " aria-label="Close " (click)="onCloseHandled() "><span
                            aria-hidden="true ">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="etap0Form" (ngSubmit)="onClickSubmit(0)" novalidate [ngClass]="{'d-none':!show_modal_0}">
                        <div class="modal-body">
                            <div class="">
                                <h5>Décision</h5>
                                <div class="">
                                    <label class="form-check-label option_border" for="statut_spet0_1">
                                        <input class="form-check-input" type="radio" name="statut_spet0" id="statut_spet0_1"  value="1" required (change)="statut_change($event)" [formControl]="etap0Form.controls['statut_spet0']">
                                          Accepter
                                    </label>
                                </div>
                                <div class="">
                                    <label class="form-check-label option_border" for="statut_spet0_2">
                                        <input class="form-check-input" type="radio" name="statut_spet0" id="statut_spet0_2" value="0" required (change)="statut_change($event)" [formControl]="etap0Form.controls['statut_spet0']">
                                        Non Accepter
                                    </label>
                                </div>
                                <div class="errors">
                                    <span *ngIf="statut_spet0 && statut_spet0.invalid && statut_spet0.touched && etap0Form.get('statut_spet0').errors.required " [ngClass]="'error' ">Renseignez ce champs svp</span>
                                </div>
                            </div>
                            <div class="mt-2" *ngIf="statut_spet0 && statut_spet0.valid && statut_spet0.value==0">
                                <h5>Cause</h5>
                                <div class="">
                                    <label class="form-check-label option_border" for="cause0_1">
                                        <input class="form-check-input" type="radio" name="cause00" id="cause0_1"  value="1" required (change)="statut_change($event)" [formControl]="etap0Form.controls['cause0']">
                                          Non Complet
                                    </label>
                                </div>
                                <div class="">
                                    <label class="form-check-label option_border" for="cause0_2">
                                        <input class="form-check-input" type="radio" name="cause0" id="cause0_2" value="0" required (change)="statut_change($event)" [formControl]="etap0Form.controls['cause0']">
                                        ...
                                    </label>
                                </div>
                                <div class="errors">
                                    <span *ngIf="cause0 && cause0.invalid && cause0.touched && etap0Form.get('cause0').errors.required " [ngClass]="'error' ">Renseignez ce champs svp</span>
                                </div>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-danger" id="sbt_btn">
                                    <span class="fa fa-spinner fa-spin d-none " id="spinner "></span> Enregistrer
                                </button>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="etap1Form" (ngSubmit)="onClickSubmit(1)" novalidate [ngClass]="{'d-none':!show_modal_1}">
                        <div class="modal-body ">
                            <div class="row">
                                <div class="col-md-12">
                                    <label id="example-radio-group-label">Décision prise</label>
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="statut_spet1" (change)="changeRadio($event)">
                                        <mat-radio-button class="example-radio-button" value="1">Accepter
                                        </mat-radio-button>
                                        <mat-radio-button class="example-radio-button" value="0">Non accepter
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <div class="errors">
                                        <span *ngIf="statut_spet1 && statut_spet1.invalid && statut_spet1.touched && etap0Form.get('statut_spet1').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="statut_spet0.value==0">
                                <div class="col-md-12">
                                    <label id="example-radio-group-label">Cause</label>
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="cause1">
                                        <mat-radio-button class="example-radio-button" value="1">Accepter
                                        </mat-radio-button>
                                        <mat-radio-button class="example-radio-button" value="0">Non accepter
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <div class="errors">
                                        <span *ngIf="cause1 && cause1.invalid && cause1.touched && etap0Form.get('cause1').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" id="sbt_btn">
                                <span class="fa fa-spinner fa-spin d-none " id="spinner "></span> Enregistrer
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-default " (click)="onCloseHandled() ">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>