<!-- <div class=".editor">
    <div id="full-editor" style="width:100%;height: 250px;">
        <h4>Titre</h4>
        <p>Cupcake ipsum dolor sit amet. Halvah cheesecake chocolate bar gummi bears cupcake. Pie macaroon bear claw. Soufflé I love candy canes I love cotton candy I love.</p>
    </div>
</div> -->

<!-- [styles]="{'min-height': '120px'}" -->
<!-- <quill-editor class="content-editor" [placeholder]="''" [modules]="quillConfiguration"
[styles]="{'min-height': '120px'}"  [formControl]="control">

</quill-editor> -->