<div class=".regulations main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <a routerLink="/regulation/add" mat-raised-button="" class="btn mat-raised-button mat-button-base">
                <span class=""><span class="">
                    <i class="material-icons">add</i></span> Reglementation </span>
                <div matripple="" class="mat-ripple mat-button-ripple">
                </div>
                <div class="mat-button-focus-overlay">
                </div>
            </a>
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Règlementations</h3>
                <p class="card-category">Ce panel vous permets de gérer les lois et décret liés à un secteur d'activité touristique</p>
            </div>
            <div class="card-body">
                <div class="row table-responsible">
                    <table class="table datatable" id="reg_table">
                        <thead class="text-danger">
                            <tr>
                                <th style="width:2% !important;">#</th>
                                <!-- <th style="width:10% !important;">Image</th> -->
                                <th style="width:10% !important;">Type</th>
                                <th style="width:45% !important;">Titre</th>
                                <th style="width:10% !important;">Métier</th>
                                <th style="width:10% !important;">Afficher</th>
                                <th style="width:13% !important;" class="td-actions text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let f of regs; index as i;">
                                <td>{{ i+1 }}</td>
                                <!-- <td>
                                    <div class="img-container">
                                        <img src="./assets/img/new_logo.png" alt="...">
                                    </div>
                                </td> -->
                                <td>{{ f.type }}</td>
                                <td>{{ f.titre }}</td>
                                <td> <a routerLink="/jobs">{{ f.job.name }}</a>
                                </td>
                                <td>
                                    <span *ngIf="f.isDisplayed; else elseBlock" class="badge badge-success">Oui</span>
                                    <ng-template #elseBlock>
                                        <span class="badge badge-danger">Non</span>
                                    </ng-template>
                                </td>
                                <td class="td-actions text-right">
                                    <a [routerLink]="['/regulations', f.id]" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>

                                    <a *ngIf="f.file" [href]="f.file" rel="tooltip" class="btn btn-warning btn-link">
                                        <i class="material-icons">download</i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-success btn-link" (click)="edit(f.id)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a href="javascript:void(0)" rel="tooltip" class="btn btn-info  btn-link" (click)="hideElement(f.id)">
                                        <i class="material-icons">settings_power</i>
                                    </a>
                                    <button type="button" rel="tooltip" class="btn btn-danger  btn-link" (click)="deleteElement(f.id)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>