<style>
    mat-cell {
        /* text-align: center !important; */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding: 2px;
    }
    
    ng-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    mat-cell,
    mat-header-cell,
    mat-footer-cell {
        flex: 1;
        display: block !important;
        text-align: start !important;
    }
    
    .action {
        margin: 10px !important;
        width: 10px !important;
    }
</style>
<div class=".regulations main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <a routerLink="/regulation/add" mat-raised-button="" class="btn mat-raised-button mat-button-base">
                <span class=""><span class="">
                    <i class="material-icons">add</i></span> Reglementation </span>
                <div matripple="" class="mat-ripple mat-button-ripple">
                </div>
                <div class="mat-button-focus-overlay">
                </div>
            </a>
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Règlementations</h3>
                <p class="card-category">Ce panel vous permets de gérer les lois et décret liés à un secteur d'activité touristique</p>

            </div>
            <div class="card-body">
                <div class=" m-3 d-flex justify-content-between">
                    <div class="">
                        <input class="form-control" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                    </div>
                </div>
                <div class="row table-responsible">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div class="m-2" *ngIf="!spinner">
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 5%'"> # </mat-header-cell>
                                <mat-cell *matCellDef="let row;let i = index" [style.flex]="'1 1 5%'"> {{i+1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'0.1 1 10%'"> Type </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 10%'"> {{row.type}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="titre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 40%'"> Titre
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 40%'">
                                    {{row.titre}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="job">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 20%'"> Job
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 20%'">
                                    <a routerLink="/jobs">
                                        <span *ngIf="row.job.name=='Restaurant'" class="">Établissement de restauration</span>
                                        <span *ngIf="row.job.name=='Voyage'" class="">Agence de voyage</span>
                                        <span *ngIf="row.job.name=='Hebergement'" class="">Hébergement touristique</span>
                                        <span *ngIf="row.job.name=='Guide'" class="">Guide de tourisme</span>
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="isDisplayed">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 5%'"> Afficher
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 5%'">
                                    <span *ngIf="row.isDisplayed; else elseBlock" class="badge badge-success">Oui</span>
                                    <ng-template #elseBlock>
                                        <span class="badge badge-danger">Non</span>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef style="font-weight: bold; " [style.flex]="'1 1 20%'"> Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 20%'">
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="['/regulations', row.id]" rel="tooltip" class="action">
                                            <i class="material-icons text-info">info</i>
                                        </a>
                                        <a *ngIf="row.file" [href]="row.file" rel="tooltip" class="action">
                                            <i class="material-icons text-warning">download</i>
                                        </a>
                                        <a href="javascript:void(0)" class="action" (click)="edit(row.id)">
                                            <i class="material-icons text-success">edit</i>
                                        </a>
                                        <a href="javascript:void(0)" rel="tooltip" class="action" (click)="hideElement(row.id)">
                                            <i class="material-icons text-danger">settings_power</i>
                                        </a>
                                        <button type="button" rel="tooltip " class="btn btn-link btn-sm btn-danger" (click)="deleteElement(row.id)">
                                            <i class="material-icons ">close</i>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; ">
                            </mat-row>

                        </mat-table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="regs.length"></mat-paginator>
            </div>
        </div>
    </div>
</div>