<style>
    mat-cell {
        /* text-align: center !important; */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding: 2px;
    }
    
    ng-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    mat-cell,
    mat-header-cell,
    mat-footer-cell {
        flex: 1;
        display: block !important;
        text-align: start !important;
    }
    
    mat-header-row {
        min-height: 40px !important;
    }
    
    .action {
        margin: 10px !important;
        width: 10px !important;
    }
</style>
<div class=".complaints main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
        </div>
        <!-- Alert with rounded corner -->
        <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
            <i class="ti-info-alt"></i> {{messageNotificationForm}}
            <button type="button" class="close" (click)="closeNotificationForm()">
                             <span>×</span></button>
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Plaintes</h3>
                <p class="card-category">Ce panel vous permets de gérer les réclamations des opérateurs touristiques.</p>
            </div>
            <div class="card-body">
                <div class=" m-3 d-flex justify-content-between">
                    <div class="">
                        <input class="form-control" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                    </div>
                </div>
                <div class="row table-responsible">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="m-2" *ngIf="!spinner">
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 5%'"> # </mat-header-cell>
                                <mat-cell *matCellDef="let row;let i = index" [style.flex]="'1 1 5%'"> {{i+1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 18%'"> Plaignant </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 18%'">
                                    <div class="d-flex flex-column ">
                                        <div class="">
                                            {{ row.lastname }} {{ row.firstname}}
                                        </div>
                                        <div class="">
                                            <b>  {{ row.phonenumber }} </b>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 15%'"> Email
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 15%'">
                                    {{row.email}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="job">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 20%'"> Job
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 20%'">
                                    <a routerLink="/jobs">
                                        <span *ngIf="row.job.name=='Restaurant'" class="">Établissement de restauration</span>
                                        <span *ngIf="row.job.name=='Voyage'" class="">Agence de voyage</span>
                                        <span *ngIf="row.job.name=='Hebergement'" class="">Hébergement touristique</span>
                                        <span *ngIf="row.job.name=='Guide'" class="">Guide de tourisme</span>
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="objet">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 18%'"> Objet
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 18%'">
                                    {{row.objet}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="statut">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" [style.flex]="'1 1 7%'"> Statut
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 7%'">
                                    <span *ngIf="row.statut=='Traitee'; else elseBlock" class="badge badge-success">Traitée</span>
                                    <ng-template #elseBlock>
                                        <span class="badge badge-danger">Non Traitée</span>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef style="font-weight: bold; " [style.flex]="'1 1 17%'"> Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.flex]="'1 1 17%'">
                                    <div class="d-flex justify-content-end">
                                        <a [routerLink]="['/complaints', row.id]" rel="tooltip" class="action">
                                            <i class="material-icons text-info">info</i>
                                        </a>
                                        <a *ngIf="row.file" [href]="row.file" rel="tooltip" class="action">
                                            <i class="material-icons text-warning">download</i>
                                        </a>
                                        <a *ngIf="row.statut=='Non Traitee' || row.statut ==null || row.statut ==''" rel="tooltip" class="action" (click)="changeStatutElement(row.id)">
                                            <i class="material-icons text-success">check</i>
                                        </a>
                                        <button type="button" rel="tooltip" class="btn btn-link btn-sm btn-danger" (click)="deleteElement(row.id)">
                                            <i class="material-icons ">close</i>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; ">
                            </mat-row>

                        </mat-table>
                    </div>

                </div>
            </div>
            <div class="card-footer justify-content-end">
                <mat-paginator [pageSizeOptions]=" [5, 10, 25, 100] " [pageSize]="5 " [length]="complaints.length "></mat-paginator>
            </div>
            <!-- Modal -->

            <div class="modal " tabindex="-1 " role="dialog " [ngStyle]="{ 'display':display} ">
                <div class="modal-dialog " role="document ">
                    <div class="modal-content ">
                        <div class="modal-header ">
                            <h4 class="modal-title " id="modal_title ">Ajouter l'action paliative</h4>
                            <button type="button " class="close " aria-label="Close " (click)="onCloseHandled() "><span aria-hidden="true ">&times;</span></button>
                        </div>

                        <form [formGroup]="complaintForm " (ngSubmit)="onClickSubmit() " novalidate>
                            <div class="modal-body ">
                                <div class="col-sm-12 ">
                                    <mat-form-field class="example-full-width ">
                                        <textarea matInput placeholder="Action " id="action " name="action " formControlName="action "></textarea>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit " class="btn btn-danger " id="sbt_btn ">
                                        <span class="fa fa-spinner fa-spin d-none " id="spinner "></span> Enregistrer
                                        </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>