<div class=".detail-competion main-content">
    <div class="container-fluid">
        <div _ngcontent-aik-c8="" class="col-md-12">
            <div _ngcontent-aik-c8="" class="card card-profile">
                <div _ngcontent-aik-c8="" class="card-avatar">
                    <a *ngIf="competition.img; else elseBlock" _ngcontent-aik-c8="" href="javascript:void(0)">
                        <img _ngcontent-aik-c8="" class="img" [src]="competition.img">
                    </a>
                    <ng-template #elseBlock>
                        <a _ngcontent-aik-c8="" href="javascript:void(0)">
                            <img _ngcontent-aik-c8="" class="img" src="./assets/img/faces/agent-de-voyage.png">
                        </a>
                    </ng-template>
                </div>
                <div _ngcontent-aik-c8="" class="card-body">
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">Date de debut : {{ competition.startDate }}</h6>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">Date de fin : {{ competition.endDate }}</h6>
                    <h4 _ngcontent-aik-c8="" class="card-title">{{ competition.titre }}</h4>
                    <p _ngcontent-aik-c8="" class="card-description" [innerHTML]="competition.content"></p>
                    <div></div>
                    <a _ngcontent-aik-c8="" class="btn btn-danger btn-round" routerLink="/competitions">OK</a>
                </div>


            </div>
        </div>
    </div>
</div>