<div class=".complaints main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Plaintes</h3>
                <p class="card-category">Ce panel vous permets de gérer les lois et décret liés à un secteur d'activité touristique</p>
            </div>
            <div class="card-body">
                <div class="row table-responsible">
                    <table class="table datatable">
                        <thead class="text-danger">
                            <tr>
                                <th style="width:2% !important;">#</th>
                                <th style="width:25% !important;">Personne</th>
                                <th style="width:10% !important;">Compagnie ou Entreprise</th>
                                <th style="width:45% !important;">Objet</th>
                                <th style="width:5% !important;">Traité</th>
                                <th style="width:13% !important;" class="td-actions text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <div class="d-flex flex-column ">
                                        <div class="">
                                            Dakota JOHNSON
                                        </div>
                                        <div class="">
                                            <b>+22954378345</b>
                                        </div>
                                    </div>
                                </td>
                                <td>Voyage+</td>
                                <td>Oud-Turnhout</td>
                                <td><span class="badge badge-success">Oui</span></td>
                                <td class="td-actions text-right">
                                    <a href="complaints/1" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <button type="button" rel="tooltip" class="btn btn-success  btn-link">
                                        <i class="material-icons">check</i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger  btn-link">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>