<div class=".detail-trending main-content">
    <div class="container-fluid">
        <div _ngcontent-aik-c8="" class="col-md-12">
            <div _ngcontent-aik-c8="" class="card card-profile">
                <div _ngcontent-aik-c8="" class="card-avatar">

                    <a *ngIf="trending.img; else elseBlock" _ngcontent-aik-c8="" href="javascript:void(0)">
                        <img _ngcontent-aik-c8="" class="img" [src]="trending.img">
                    </a>
                    <ng-template #elseBlock>
                        <a _ngcontent-aik-c8="" href="javascript:void(0)">
                            <img _ngcontent-aik-c8="" class="img" src="./assets/img/faces/agent-de-voyage.png">
                        </a>
                    </ng-template>

                </div>
                <div _ngcontent-aik-c8="" class="card-body">
                    <span _ngcontent-aik-c8="" class="card-category text-gray"><span class="badge badge-info">{{ trending.job.name}}</span> </span>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">Ajouter le : {{ trending.created_at }}</h6>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">Mise à jour le : {{ trending.updated_at }}</h6>
                    <h4 _ngcontent-aik-c8="" class="card-title">{{ trending.titre }}</h4>
                    <p _ngcontent-aik-c8="" class="card-description"> {{ trending.content }} </p><a _ngcontent-aik-c8="" class="btn btn-danger btn-round" routerLink="/trendings">OK</a></div>
            </div>
        </div>
    </div>
</div>