<div class=".add-infos main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Ajouter une Information</h4>
                    </div>
                </div>
                <form class="ng-untouched ng-pristine ng-valid">
                    <div class="card-body">
                        <div class="row"> 
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Titre" type="text" id="titre">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-select placeholder="Métier" name="job" ngClass="btn btn-default btn-link simple">
                                    <mat-option *ngFor="let job of jobs" [value]="job.value">
                                        {{ job.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                             <!-- <div class="col-md-6">
                                <mat-select placeholder="Type" name="type" ngClass="btn btn-default btn-link simple">
                                    <mat-option *ngFor="let type of types" [value]="type.value">
                                        {{ type.label }}
                                    </mat-option>
                                </mat-select>
                            </div>  -->
                        </div>
                        <app-editor></app-editor>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <div>
                            <a routerLink="/infos" mat-raised-button="" class="btn btn-fill btn-default mat-raised-button mat-button-base ">
                                <span class="mat-button-wrapper ">Annuler</span>
                                <div matripple=" " class="mat-ripple mat-button-ripple ">
                                </div>
                                <div class="mat-button-focus-overlay "></div>
                            </a>
                        </div>
                        <div>
                            <button mat-raised-button=" " type="submit " class="btn btn-fill btn-rose mat-raised-button mat-button-base ">
                                <span class="mat-button-wrapper ">Enregistrer</span>
                                  <div matripple=" " class="mat-ripple mat-button-ripple ">
                                  </div>
                                   <div class="mat-button-focus-overlay "></div>
                             </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>