<style>
    mat-cell {
        /* text-align: center !important; */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding: 2px;
    }
    
    ng-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    mat-cell,
    mat-header-cell,
    mat-footer-cell {
        flex: 1;
        display: block !important;
        text-align: start !important;
    }
    
    .action {
        margin: 10px !important;
        width: 10px !important;
    }
</style>
<div class=".regulations main-content">

    <div  class="card" style="border-radius: 0px;height: 60px;text-align: center;font-weight: bold;padding-top: 20px">
   LES MEMBRES DU RESHAOC
    </div>
    <div class="containe ">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-activite-tab" data-toggle="tab" data-target="#nav-activite" type="button" role="tab" aria-controls="nav-activite" aria-selected="true">
                    Pays membres
                </button>
                <button class="nav-link" id="nav-article-tab" data-toggle="tab" data-target="#nav-article" type="button" role="tab" aria-controls="nav-article" aria-selected="false">
                    Les Adhérants au RESHAOC
                </button>



            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-activite" role="tabpanel" aria-labelledby="nav-activite-tab">


                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">  Pays membres</h3>
                        <p class="card-category">
                            Ce panel vous permets de gérer les  Pays membres
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="m-3 d-flex justify-content-between">
                            <div class="">
<!--                                <input-->
<!--                                        class="form-control"-->
<!--                                        type="text"-->
<!--                                        (keyup)="applyFilter($event.target.value)"-->
<!--                                        placeholder="Rechercher"-->
<!--                                />-->
                            </div>
                        </div>
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div
                                        class="spinner-border text-success text-center"
                                        role="status"
                                        *ngIf="spinner"
                                >
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="m-2" *ngIf="!spinner">
                                <table class="table table-responsive table-striped">
                                    <tr class="card-header card-header-danger">
                                        <th>N0</th>
                                        <th>Nom du Pays</th>
                                        <th>Membre du RESHAOC </th>

<!--                                        <th>Liste de hôpitaux</th>-->
                                        <th>Action</th>
                                    </tr>

                                    <tbody>
                                    <tr *ngFor="let a of listPays; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ a.pays | uppercase }}</td>

                                        <td>
                                            <!--                        {{ a.isvedette }}-->

                                            <mat-slide-toggle [checked]="a.status =='oui' ? true:false " (change)="checkCheckBoxvalue($event,a.id)">
                                                      </mat-slide-toggle>

                                        </td>
<!--                                        <td>-->

<!--                                        </td>-->
                                        <td>

                                            <a href="javascript:void(0)" (click)="openModal(a.id,'list')" rel="tooltip" class="action">
                                               <i class="material-icons text-info">list</i> List hôpitaux

                                            </a> <a href="javascript:void(0)" (click)="openModal(a.id,'add')" rel="tooltip" class="action">
                                               <i class="material-icons text-success">edit</i>  Ajouter un hôpital
                                            </a>
<!--                                            <a-->
<!--                                                    [routerLink]="['/edit-actualite', a.id]"-->
<!--                                                    rel="tooltip"-->
<!--                                                    class="action"-->
<!--                                            >-->
<!--                                               Ajouter un hôpital <i class="material-icons text-add">add</i>-->
<!--                                            </a>-->
<!--                                            <button-->
<!--                                                    type="button"-->
<!--                                                    rel="tooltip"-->
<!--                                                    class="btn btn-link btn-sm btn-danger"-->
<!--                                                    (click)="deleteElement(a.id)"-->
<!--                                            >-->
<!--                                                <i class="material-icons">close</i>-->
<!--                                            </button>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="actu.length"></mat-paginator>-->
                    </div>
                </div>


                <div class="modal " tabindex="-1 " role="dialog " [ngStyle]="{'display':display1} ">
                    <div class="modal-dialog " role="document ">
                        <div class="modal-content ">
                            <div class="modal-header ">
                                <h4 class="modal-title " id="modal_title ">{{ titre_modal}}</h4>
                                <button type="button " class="close " aria-label="Close " (click)="onCloseHandled() "><span aria-hidden="true ">&times;</span></button>
                            </div>

                            <form [formGroup]="hopitalForm " (ngSubmit)="onClickSubmitHpoital() " novalidate>

                                <div class="modal-body ">

                                    <div class="row">
                                        <div class="col-md-12">
<!--                                        <label id="example-radio-group-label">Selectionnez le metier</label>-->
                                            <mat-form-field class="example-full-width ">
                                                <input matInput type="text" id="libele" name="libele" placeholder="Nom de l'hôpital " formControlName="libele">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
<!--                                        <label id="example-radio-group-label">Selectionnez le metier</label>-->
                                            <mat-form-field class="example-full-width ">
                                                <input matInput type="text" id="contact" name="contact" placeholder="contact de l'hôpital " formControlName="contact">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
<!--                                        <label id="example-radio-group-label">Selectionnez le metier</label>-->
                                            <mat-form-field class="example-full-width ">
                                                <input matInput type="text" id="adress" name="adress" placeholder="adress de l'hôpital " formControlName="adress">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
<!--                                        <label id="example-radio-group-label">Selectionnez le metier</label>-->

                                                <input  hidden type="text" id="pays_id" value="{{curent_pays_id}}"  name="pays_id" placeholder="pays_id" formControlName="pays_id">

                                        </div>
                                    </div>


                                </div>

                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " (click)="onCloseHandled() ">Fermer</button> -->
                                    <button type="submit " class="btn btn-danger " id="sbt_btn ">
                                        <span class="fa fa-spinner fa-spin d-none " id="spinner "></span> Enregistrer
                                    </button>
                                </div>


                            </form>



                        </div>
                    </div>
                </div>


                <div class="modal " tabindex="-1 " role="dialog " [ngStyle]="{'display':display2} ">
                    <div class="modal-dialog " role="document ">
                        <div class="modal-content ">
                            <div class="modal-header ">
                                <h4 class="modal-title " id="modal_title ">{{ titre_modal}}</h4>
                                <button type="button " class="close " aria-label="Close " (click)="onCloseHandled() "><span aria-hidden="true ">&times;</span></button>
                            </div>


                            <div class="modal-body ">
                                <table class="table table-responsive table-striped">
                                    <tr class="card-header card-header-danger">
                                        <th>N0</th>
                                        <th>Nom de l'hôpital</th>
                                        <th>Contact </th>
                                        <th>Adress </th>

                                         <th>Action</th>
                                    </tr>

                                    <tbody>
                                    <tr *ngFor="let a of listHopitauxPays; let i = index">

                                        <td>{{i+1}}</td>
                                        <td>{{a.libele}}</td>
                                        <td>{{a.contact}}</td>
                                        <td>{{a.adress}}</td>
                                        <td>
                                                                                        <button
                                                                                                type="button"
                                                                                                rel="tooltip"
                                                                                                class="btn btn-link btn-sm btn-danger"
                                                                                                (click)="deleteElement(a.id)"
                                                                                        >
                                                                                            <i class="material-icons">close</i>
                                                                                        </button>
                                        </td>

                                    </tr>
                                    </tbody>

                                </table>

                            </div>






                        </div>

                    </div>

                </div>





            </div>


            <div class="tab-pane fade" id="nav-article" role="tabpanel" aria-labelledby="nav-article-tab">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">   Les Adhérants au RESHAOC</h3>
                        <p class="card-category">
                            Ce panel vous permets de gérer les  Adhérants au RESHAOC
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="m-3 d-flex justify-content-between">
                            <div class="">
                                <!--                                <input-->
                                <!--                                        class="form-control"-->
                                <!--                                        type="text"-->
                                <!--                                        (keyup)="applyFilter($event.target.value)"-->
                                <!--                                        placeholder="Rechercher"-->
                                <!--                                />-->
                            </div>
                        </div>
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div
                                        class="spinner-border text-success text-center"
                                        role="status"
                                        *ngIf="spinner"
                                >
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="m-2" *ngIf="!spinner">
                                <table class="table table-responsive table-striped">
                                    <tr class="card-header card-header-danger">
                                        <th>N0</th>
                                        <th>Raison sociale</th>
                                        <th>Forme juridique </th>
                                        <th>Email </th>
                                        <th>Telephone </th>
                                        <th>Pays </th>
                                        <th>Ville </th>
                                        <th>Status </th>

                                        <!--                                        <th>Liste de hôpitaux</th>-->
                                        <th>Action</th>
                                    </tr>


                                    <tbody>
                                    <tr *ngFor="let a of listAdherant; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ a.raison_sociale | uppercase }}</td>
                                        <td>{{ a.forme_juridique  }}</td>
                                        <td>{{ a.email  }}</td>
                                        <td>{{ a.telephone  }}</td>
                                        <td>{{ a.pays  }}</td>
                                        <td>{{ a.ville  }}</td>

                                        <td>
                                            <!--                        {{ a.isvedette }}-->

                                            <mat-slide-toggle [checked]="a.status =='oui' ? true:false " (change)="checkCheckBoxvalue($event,a.id)">
                                            </mat-slide-toggle>

                                        </td>
                                        <!--                                        <td>-->

                                        <!--                                        </td>-->
                                        <td>

                                            <a href="javascript:void(0)" (click)="openModal(a.id,'list-cotisation')" rel="tooltip" class="action">
                                                <i class="material-icons text-info">list</i> Ses Cotisation

                                            </a>
<!--                                            <a href="javascript:void(0)" (click)="openModal(a.id,'add')" rel="tooltip" class="action">-->
<!--                                            <i class="material-icons text-success">edit</i>  Ajouter un hôpital-->
<!--                                        </a>-->
                                            <!--                                            <a-->
                                            <!--                                                    [routerLink]="['/edit-actualite', a.id]"-->
                                            <!--                                                    rel="tooltip"-->
                                            <!--                                                    class="action"-->
                                            <!--                                            >-->
                                            <!--                                               Ajouter un hôpital <i class="material-icons text-add">add</i>-->
                                            <!--                                            </a>-->
                                            <!--                                            <button-->
                                            <!--                                                    type="button"-->
                                            <!--                                                    rel="tooltip"-->
                                            <!--                                                    class="btn btn-link btn-sm btn-danger"-->
                                            <!--                                                    (click)="deleteElement(a.id)"-->
                                            <!--                                            >-->
                                            <!--                                                <i class="material-icons">close</i>-->
                                            <!--                                            </button>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="actu.length"></mat-paginator>-->
                    </div>
                </div>

                <div class="modal " tabindex="-1 " role="dialog " [ngStyle]="{'display':display3} ">
                    <div class="modal-dialog " role="document ">
                        <div class="modal-content ">
                            <div class="modal-header ">
                                <h4 class="modal-title " id="modal_titl ">{{ titre_modal}}</h4>
                                <button type="button " class="close " aria-label="Close " (click)="onCloseHandled() "><span aria-hidden="true ">&times;</span></button>
                            </div>


                            <div class="modal-body ">
                                <table class="table table-responsive table-striped">
                                    <tr class="card-header card-header-danger">
                                        <th>N0</th>
                                        <th>Montant cotisation</th>
                                        <th>date </th>
                                        <th>observation </th>
                                        <th>Action</th>
                                    </tr>

                                    <tbody>
                                    <tr *ngFor="let a of listCotisation; let i = index">

                                        <td>{{i+1}}</td>
                                        <td>{{a.montant}}</td>
                                        <td>{{a.created_at}}</td>
                                        <td>{{a.observation}}</td>
                                        <td>
                                            <button
                                                    type="button"
                                                    rel="tooltip"
                                                    class="btn btn-link btn-sm btn-danger"

                                            >
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>

                                    </tr>
                                    </tbody>

                                </table>

                            </div>






                        </div>

                    </div>

                </div>




            </div>

        </div>

    </div>









</div>