<style>
    mat-cell {
        /* text-align: center !important; */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding: 2px;
    }
    
    ng-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    mat-cell,
    mat-header-cell,
    mat-footer-cell {
        flex: 1;
        display: block !important;
        text-align: start !important;
    }
    
    .action {
        margin: 10px !important;
        width: 10px !important;
    }
</style>
<div class=".regulations main-content">

    <div  class="card" style="border-radius: 0px;height: 60px;text-align: center;font-weight: bold;padding-top: 20px">
     PAYS MEMBRE
    </div>
    <div class="containe ">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-activite-tab" data-toggle="tab" data-target="#nav-activite" type="button" role="tab" aria-controls="nav-activite" aria-selected="true">
                    Pays membres
                </button>
                <button class="nav-link" id="nav-article-tab" data-toggle="tab" data-target="#nav-article" type="button" role="tab" aria-controls="nav-article" aria-selected="false">
                    Adhérer au RESHAOC
                </button>
                <button class="nav-link" id="nav-agenda-tab" data-toggle="tab" data-target="#nav-agenda" type="button" role="tab" aria-controls="nav-agenda" aria-selected="false">
                    Activités des points focaux
                </button>



            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-activite" role="tabpanel" aria-labelledby="nav-activite-tab">

            </div>

            <div class="tab-pane fade" id="nav-article" role="tabpanel" aria-labelledby="nav-article-tab">


            </div>

        </div>

    </div>









</div>