<div class=".regulations main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <a href="#/regulation/add" mat-raised-button="" class="btn mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><span class="btn-label">
                    <i class="material-icons">add</i></span> Reglementation </span>
                <div matripple="" class="mat-ripple mat-button-ripple">
                </div>
                <div class="mat-button-focus-overlay">
                </div>
            </a>
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Règlementations</h3>
                <p class="card-category">Ce panel vous permets de gérer les lois et décret liés à un secteur d'activité touristique</p>
            </div>
            <div class="card-body">
                <div class="row table-responsible">
                    <table class="table">
                        <thead class="text-danger">
                            <th style="width:2% !important;">#</th>
                            <th style="width:10% !important;">Type</th>
                            <th style="width:50% !important;">Titre</th>
                            <th style="width:15% !important;">Métier</th>
                            <th style="width:10% !important;">Afficher</th>
                            <th style="width:13% !important;" class="td-actions text-right">Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Décret</td>
                                <td>La de isijds isdjisds</td>
                                <td>Oud-Turnhout</td>
                                <td><span class="badge badge-success">Oui</span></td>
                                <td class="td-actions text-right">
                                    <a href="#/regulations/1" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <a href="#/regulations/1" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button type="button" rel="tooltip" class="btn btn-info  btn-link">
                                        <i class="material-icons">settings_power</i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger  btn-link">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>