<div class=".add-regulations main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">{{ card_header_title}} </h4>
                    </div>
                </div>

                <!-- Alert with rounded corner -->
                <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
                    <i class="ti-info-alt"></i> {{messageNotificationForm}}
                    <button type="button" class="close" (click)="closeNotificationForm()">
                        <span>×</span></button>
                </div>
                <form class="ng-untouched ng-pristine ng-valid" id="add_regultion_form" [formGroup]="regulationForm" (ngSubmit)="onClickSubmit()" novalidate>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Titre" type="text" id="titre" formControlName="titre">
                                </mat-form-field>
                                <div class="errors">
                                    <span *ngIf="titre && titre.invalid && titre.touched && regulationForm.get('titre').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                    <!-- <span *ngIf="titre && titre.invalid && titre.touched && regulationForm.get('titre').errors.minlength" [ngClass]="'error'"> Au moins {{ regulationForm.get('question').errors.minlength.requiredLength }} caractères </span> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-select placeholder="Métier" name="job" id="job" ngClass="btn btn-default btn-link simple" formControlName="job" (change)="changeJob($event)">
                                    <mat-option *ngFor="let job of jobs" [value]="job">
                                        {{ job.name }}
                                    </mat-option>
                                </mat-select>
                                <div class="errors">
                                    <span *ngIf="job && job.invalid && job.touched && regulationForm.get('job').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                </div>
                            </div>
                            <!-- <div>{{types | json}}</div> -->
                            <div class="col-md-6">
                                <mat-select placeholder="Type" name="type" id="type" ngClass="btn btn-default btn-link simple" formControlName="type" (change)="changeType($event)">
                                    <mat-option *ngFor="let type of types" [value]="type.value">
                                        {{ type.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <!-- <app-editor formControlName="content"></app-editor> -->
                        <!-- [formControl]="editorContent" -->
                        <ngx-quill [options]="editorOptions" (blur)="onEditorBlured($event)" (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
                        </ngx-quill>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                        <img src="./assets/img/image_placeholder.jpg" alt="...">
                                    </div>
                                    <div>
                                        <span class="btn btn-outline-secondary btn-file">
                                        <span class="fileinput-new">Image de mise en avant</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                        </span>
                                        <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput "><span class="fa fa-remove text-danger"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-append">
                                      <span class="input-group-text fileinput-exists" data-dismiss="fileinput">
                                        <span class="fa fa-remove text-danger"></span>
                                    </span>

                                    <span class="input-group-text btn-file">
                                        <span class="fileinput-new">Fichier</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="file" accept=".pdf,.PDF" (change)="handleFileInput($event)">
                                    </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end ">
                        <div>
                            <a routerLink="/regulations " mat-raised-button=" " class="btn btn-fill btn-default mat-raised-button mat-button-base ">
                                <span class="mat-button-wrapper ">Annuler</span>
                                <div matripple=" " class="mat-ripple mat-button-ripple ">
                                </div>
                                <div class="mat-button-focus-overlay "></div>
                            </a>
                        </div>
                        <div>
                            <button mat-raised-button=" " type="submit" id="sbt_btn" class="btn btn-fill btn-rose mat-raised-button mat-button-base ">
                                <span class="fa fa-spinner fa-spin d-none" id="spinner"></span>
                                <span class="mat-button-wrapper ">Enregistrer</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>