<div class=".regulations main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
<!--            <a routerLink="/user/add" mat-raised-button="" class="btn mat-raised-button mat-button-base">-->
<!--                <span class="mat-button-wrapper"><span class="">-->
<!--                    <i class="material-icons">add</i></span> Utilisateur </span>-->
<!--                <div matripple="" class="mat-ripple mat-button-ripple">-->
<!--                </div>-->
<!--                <div class="mat-button-focus-overlay">-->
<!--                </div>-->
<!--            </a>-->
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Utilisateurs </h3>
                <p class="card-category">Ce panel vous permets de gérer les utilisateurs de ce système</p>
            </div>
            <div class="card-body">

                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="row table-responsible">
                    <table class="table datatable">
                        <thead class="text-danger">
                            <tr>
                                <th style="width:2% !important;">#</th>
                                <th style="width:25% !important;">Nom d'utilisateur</th>
                                <th style="width:20% !important;">Email</th>
                                <th style="width:20% !important;">Rôle</th>

                                <th style="width:10% !important;">Status</th>
                                <th style="width:13% !important;" class="td-actions text-right">Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; index as i">
                                <td>{{i+1}}</td>
                                <td>
                                    <div class="img-container">
                                        <div class="d-flex">
                                            <img width="60" src="./assets/img/new_logo.png" alt="...">
                                            <div class="m-2">{{user.username }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{user.email }}</td>
                                <td>
                                    <div *ngFor="let role of user.roles ">
                                        {{role.name}}<br>
                                    </div>
                                </td>
<!--                                <td>{{user.profession}}</td>-->
                                <td>
                                    <span *ngIf="user.status==true; else elseBlock" class="badge badge-success">ACTIF</span>
                                    <ng-template #elseBlock>
                                        <span class="badge badge-danger">INACTIF</span>
                                    </ng-template>


                                </td>
                                <td class="td-actions text-right">
<!--                                    <a routerLink="/user-profile" rel="tooltip" class="btn btn-info btn-link">-->
<!--                                        <i class="material-icons">info</i>-->
<!--                                    </a>-->
                                    <a [routerLink]="['/user-profile', user.id]" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
<!--                                    <button type="button" rel="tooltip" class="btn btn-info  btn-link">-->
<!--                                        <i class="material-icons">settings_power</i>-->
<!--                                    </button>-->
<!--                                    <button type="button" rel="tooltip" class="btn btn-danger  btn-link">-->
<!--                                        <i class="material-icons">close</i>-->
<!--                                    </button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>