<div class=".detail-reclamation main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Détail de la reclamation</h4>
                    </div>
                </div>
                <!-- {{ complaints | json}} -->
                <div _ngcontent-aik-c8="" class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h6 _ngcontent-aik-c8="" class="card-category text-gray">{{ complaints.lastname }} {{ complaints.firstname }}</h6>
                            <h6 _ngcontent-aik-c8="" class="card-category text-gray"> <b>Telephone :</b> {{ complaints.phone_number }} </h6>
                            <h6 _ngcontent-aik-c8="" class="card-category text-gray"> <b>Email :</b> {{ complaints.email }} </h6>
                        </div>
                        <div class="more">
                            <span class="badge badge-info">{{ complaints.job.name }}</span>

                            <td>
                                <span *ngIf="complaints.statut=='Traitee'; else elseBlock" class="badge badge-success">Traitée</span>
                                <ng-template #elseBlock>
                                    <span class="badge badge-danger">Non Traitée</span>
                                </ng-template>
                            </td>

                        </div>
                    </div>
                    <hr>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">
                        <b>Date</b> : {{ complaints.created_at }}</h6>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray "><b>A l'encontre de</b> : {{ complaints.actor }}</h6>
                    <h4 _ngcontent-aik-c8="" class="card-title">Objet</h4>
                    <p _ngcontent-aik-c8="" class="card-description"> {{ complaints.objet}}</p>

                    <h4 _ngcontent-aik-c8="" class="card-title">Contenu</h4>
                    <p _ngcontent-aik-c8="" class="card-description"> {{ complaints.complaint}} </p>

                    <h4 _ngcontent-aik-c8="" class="card-title">Action Paliative</h4>
                    <p _ngcontent-aik-c8="" class="card-description"> {{ complaints.action}} </p>

                    <div class="d-flex justify-content-end">
                        <a _ngcontent-aik-c8="" class="btn btn-danger btn-round" routerLink="/complaints">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>