<div class=".detail-info main-content">
    <div class="container-fluid">
        <div _ngcontent-aik-c8="" class="col-md-12">
            <div _ngcontent-aik-c8="" class="card card-profile">
                <div _ngcontent-aik-c8="" class="card-avatar">
                    <a *ngIf="info.img; else elseBlock" _ngcontent-aik-c8="" href="javascript:void(0)">
                        <img _ngcontent-aik-c8="" class="img" [src]="info.img">
                    </a>
                    <ng-template #elseBlock>
                        <a _ngcontent-aik-c8="" href="javascript:void(0)">
                            <img _ngcontent-aik-c8="" class="img" src="./assets/img/faces/agent-de-voyage.png">
                        </a>
                    </ng-template>
                </div>
                <div _ngcontent-aik-c8="" class="card-body">
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">Information</h6>
                    <h4 _ngcontent-aik-c8="" class="card-title">{{ info.titre}}</h4>
                    <div [innerHTML]="info.content"></div>
                    <a _ngcontent-aik-c8="" class="btn btn-danger btn-round" routerLink="/infos">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>