<div class=".infos main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <!-- <a href="info/add" mat-raised-button="" class="btn mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><span class="btn-label">
                    <i class="material-icons">add</i></span> Information </span>
                <div matripple="" class="mat-ripple mat-button-ripple">
                </div>
                <div class="mat-button-focus-overlay">
                </div>
            </a> -->
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Information</h3>
                <p class="card-category">Ce panel vous permets de gérer les lois et décret liés à un secteur d'activité touristique</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-responsible">
                        <thead class="text-danger">
                            <th style="width:2% !important;">#</th>
                            <th style="width:15% !important;">Métier</th>
                            <th style="width:50% !important;">Titre</th>
                            <th style="width:13% !important;" class="td-actions text-right">Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <!-- <div class="img-container">
                                        <img src="./assets/img/faces/agent-de-voyage.png" alt="..." width="60">
                                    </div> -->
                                    VOYAGE
                                </td>
                                <td>Comment déposer une demande de création ?</td>
                                <td class="td-actions text-right">
                                    <a href="infos/1" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>

                                    <a href="info/add" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <!-- <div class="img-container">
                                        <img src="./assets/img/faces/accueil.png" alt="..." width="60">
                                    </div> -->
                                    HEBERGEMENT
                                </td>
                                <td>Comment obtenir une autorisation d’exercer et son classement ?</td>
                                <td class="td-actions text-right">
                                    <a href="#" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <!-- <a href="#" rel="tooltip" class="btn btn-warning btn-link">
                                        <i class="material-icons">download</i>
                                    </a> -->
                                    <a href="#" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <!-- <div class="img-container">
                                        <img src="./assets/img/faces/guide-touristique.png" alt="..." width="60">
                                    </div> -->
                                    GUIDE
                                </td>
                                <td>Comment obtenir une carte professionnelle de guide ?</td>
                                <td class="td-actions text-right">
                                    <a href="#" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <!-- <a href="#" rel="tooltip" class="btn btn-warning btn-link">
                                        <i class="material-icons">download</i>
                                    </a> -->
                                    <a href="#" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <!-- <div class="img-container">
                                        <img src="./assets/img/faces/toque.png" alt="..." width="60">
                                    </div> -->
                                    RESTAURANT
                                </td>
                                <td>Comment obtenir une autorisation d’exercer ?</td>
                                <td class="td-actions text-right">
                                    <a href="#" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <!-- <a href="#" rel="tooltip" class="btn btn-warning btn-link">
                                        <i class="material-icons">download</i>
                                    </a> -->
                                    <a href="#" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <!-- <div class="img-container">
                                        <img src="./assets/img/faces/toque.png" alt="..." width="60">
                                    </div> -->
                                    RESTAURANT
                                </td>
                                <td>Comment obtenir un classement ?</td>
                                <td class="td-actions text-right">
                                    <a href="#" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <a href="#" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>