<div class=".infos main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <!-- <a href="info/add" mat-raised-button="" class="btn mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><span class="btn-label">
                    <i class="material-icons">add</i></span> Information </span>
                <div matripple="" class="mat-ripple mat-button-ripple">
                </div>
                <div class="mat-button-focus-overlay">
                </div>
            </a> -->
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Information</h3>
                <p class="card-category">Ce panel vous permets de gérer les lois et décret liés à un secteur d'activité touristique</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-responsible">
                        <thead class="text-danger">
                            <th style="width:2% !important;">#</th>
                            <!-- <th style="width:20% !important;">Image</th> -->
                            <th style="width:15% !important;">Métier</th>
                            <th style="width:50% !important;">Titre</th>
                            <th style="width:13% !important;" class="td-actions text-right">Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let f of infos; index as i;">
                                <td>{{ i+1 }}</td>
                                <!-- <td>
                                    <div class="img-container">
                                        <img src="./assets/img/new_logo.png" alt="...">
                                    </div>
                                </td> -->
                                <td> <a routerLink="/jobs">{{ f.job.name }}</a>
                                </td>
                                <td>{{ f.titre }}</td>
                                <td class="td-actions text-right">
                                    <a [routerLink]="['/infos', f.id]" rel="tooltip" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-success btn-link" (click)="edit(f.id)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>