<div class=".faq main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <button id="add_faq_btn" mat-raised-button="" class="btn mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><span class="btn-label">
                    <i class="material-icons">add</i></span> FAQ </span>
                <div matripple="" class="mat-ripple mat-button-ripple">
                </div>
                <div class="mat-button-focus-overlay">
                </div>
            </button>
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">FAQ</h3>
                <p class="card-category">Informez de grand public grâce à sur panel sur les questions les plus fréquentes</p>
            </div>
            <div class="card-body">
                <div class="row table-responsible">
                    <table class="table">
                        <thead class="text-danger">
                            <th style="width:2% !important;">#</th>
                            <th style="width:15% !important;">Métier</th>
                            <th style="width:40% !important;">Questions</th>
                            <th style="width:40% !important;">Reponse</th>
                            <th style="width:10% !important;">Afficher</th>
                            <th style="width:10% !important;" class="td-actions text-right">Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Voyage</td>
                                <td>La de isijds isdjisds</td>
                                <td>Oud-Turnhout</td>
                                <td><span class="badge badge-success">Oui</span></td>
                                <td class="td-actions text-right">
                                    <a href="javascript:void(0)" rel="tooltip" data-id="1" class="btn btn-info btn-link">
                                        <i class="material-icons">info</i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-success btn-link" data-id="1">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a href="javascript:void(0)" rel="tooltip" class="btn btn-info  btn-link" data-id="1">
                                        <i class="material-icons">settings_power</i>
                                    </a>
                                    <a href="javascript:void(0)" rel="tooltip" class="btn btn-danger  btn-link" data-id="1">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" id="add_faq_form">
                            <div class="modal-body">
                                <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" id="question" name="question" placeholder="Question">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12">
                                    <mat-form-field class="example-full-width" id="answer" name="answer">
                                        <textarea matInput placeholder="Réponse"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-danger">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>