<div class=".detail-regulation main-content">
    <div class="container-fluid">
        <div _ngcontent-aik-c8="" class="col-md-12">
            <div _ngcontent-aik-c8="" class="card card-profile">
                <div _ngcontent-aik-c8="" class="card-avatar">
                    <a *ngIf="reg.img; else elseBlock" _ngcontent-aik-c8="" href="javascript:void(0)">
                        <img _ngcontent-aik-c8="" class="img" [src]="reg.img">
                    </a>
                    <ng-template #elseBlock>
                        <a _ngcontent-aik-c8="" href="javascript:void(0)">
<!--                            <img _ngcontent-aik-c8="" class="img" src="{{reg.img}}">-->
                            <img _ngcontent-aik-c8="" class="img" src="./assets/img/faces/agent-de-voyage.png">
                        </a>
                    </ng-template>

                </div>
                <div _ngcontent-aik-c8="" class="card-body">
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">{{ reg.type}}</h6>
                    <span _ngcontent-aik-c8="" class="card-category text-gray"><span class="badge badge-info">{{ reg.job.name}}</span> </span>
                    <h4 _ngcontent-aik-c8="" class="card-title">{{ reg.titre}}</h4>
                     <div [innerHTML]="reg.content"></div>
                    <a _ngcontent-aik-c8="" class="btn btn-danger btn-round" routerLink="/regulations">Retour</a></div>
            </div>
        </div>
    </div>
</div>