<div class=".detail-complaint main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Détail de la plainte</h4>
                    </div>
                </div>
                <div _ngcontent-aik-c8="" class="card-body">
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">Dakota JOHNSON</h6>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray">
                        <b>Date</b> : 05 Nov 2022</h6>
                    <h6 _ngcontent-aik-c8="" class="card-category text-gray "><b>A l'encontre de</b> : Voyage+</h6>
                    <h4 _ngcontent-aik-c8="" class="card-title">Objet</h4>
                    <p _ngcontent-aik-c8="" class="card-description"> Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is... </p>
                    <a _ngcontent-aik-c8="" class="btn btn-danger btn-round" href="#/complaints">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>