<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">notifications</i>
                        </div>
                        <p class="card-category">Plaintes</p>
                        <h3 class="card-title">{{ complaints_count}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Reclamations</p>
                        <h3 class="card-title">{{ reclamation_count}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Concours as venir</p>
                        <h3 class="card-title">{{ competitions_count}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>   
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">notifications</i>
                        </div>
                        <p class="card-category">Plaintes non   traitée(s) </p>
                        <h3 class="card-title">{{ complaint_untreated_count}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Reclamations non   traitée(s) </p>
                        <h3 class="card-title">{{ reclamation_untreated_count}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Concours en cours</p>
                        <h3 class="card-title">{{ competitions_count}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Plaintes récentes enrégistrées</h4>
                        <p class="card-category">Toutes les plaintes enregister cette semaine</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" style="width:100% !important">
                            <thead class=" text-warning ">
                            <th style="width:30% !important ">Personne</th>
                            <th style="width:25% !important;">Type</th>
                            <th style="width:15% !important ">Téléphone</th>
                            <th style="width:30% !important ">Plainte</th>
                            <th style="width:15% !important ">Date</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let c of complaints; index as i;">
                                <td>
                                    <a routerLink="['/complaints', c.id]">{{ c.firstname }} {{ c.lastname }}</a>
                                </td>
                                <td>
                                    <span *ngIf="c.type=='Plainte'; else elseBlock" class="badge badge-danger">Plainte</span>
                                    <ng-template #elseBlock>
                                        <span class="badge badge-warning">Reclamation</span>
                                    </ng-template>
                                </td>
                                <td>{{ c.phonenumber ==null ? '-' : c.phonenumber }}</td>
                                <td>{{ c.objet}}</td>
                                <td>{{ c.created_at }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>