<style>
    mat-cell {
        /* text-align: center !important; */
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding: 2px;
    }
    
    ng-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    mat-cell,
    mat-header-cell,
    mat-footer-cell {
        flex: 1;
        display: block !important;
        text-align: start !important;
    }
    
    .action {
        margin: 10px !important;
        width: 10px !important;
    }


    .ql-container {
        height:500px !important;
    }
</style>
<div class=".regulations main-content">

    <div  class="card"
          style="
      border-radius: 0px;
      height: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      padding-top: 20px;
    ">
      PARAMETTRE GENERALE
    </div>
    <div class="containe ">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-presentation-tab" data-toggle="tab" data-target="#nav-presentation" type="button" role="tab" aria-controls="nav-presentation" aria-selected="true">
                    PARAMETTRE
                </button>
<!--                <button class="nav-link" id="nav-mission-tab" data-toggle="tab" data-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission" aria-selected="false">-->
<!--                    Images RESHAOC-->
<!--                </button>-->
<!--                <button class="nav-link" id="nav-objectif-tab" data-toggle="tab" data-target="#nav-objectif" type="button" role="tab" aria-controls="nav-objectif" aria-selected="false">-->
<!--                   Images Pertenariat-->
<!--                </button>-->
<!--                 <button class="nav-link" id="nav-organisation-tab" data-toggle="tab" data-target="#nav-organisation" type="button" role="tab" aria-controls="nav-organisation" aria-selected="false">-->
<!--                   Images Evernemetiel-->
<!--                </button>-->

<!--                  <button class="nav-link" id="nav-plan-tab" data-toggle="tab" data-target="#nav-plan" type="button" role="tab" aria-controls="nav-plan" aria-selected="false">-->
<!--                      Plan stratégique-->
<!--                </button>-->

<!--                  <button class="nav-link" id="nav-document-tab" data-toggle="tab" data-target="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">-->
<!--                      Documents fondamentaux-->
<!--                    </button>-->


            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-presentation" role="tabpanel" aria-labelledby="nav-presentation-tab">

                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h3 class="card-title">Paramettre</h3>
                            <p class="card-category">Ce panel vous permets de gérer les pararamettre du site</p>

                        </div>
                        <div class="card-body">
                            <div class="row table-responsible">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="m-2" *ngIf="!spinner">
                                    <div class="d-flex justify-content-end">

                                    </div>



                                    <!--debut formulaire-->
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-text">
                                            <div class="card-text">
                                                <h4 class="card-title">{{ "Les variables  du site"}}</h4>
                                            </div>
                                        </div>
                                        <!-- Alert with rounded corner -->
<!--                                        <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">-->
<!--                                            <i class="ti-info-alt"></i> {{messageNotificationForm}}-->
<!--                                            <button type="button" class="close" (click)="closeNotificationForm()">-->
<!--                                                <span>×</span></button>-->
<!--                                        </div>-->
                                        <form class="ng-untouched ng-pristine ng-valid" id="add_regultion_form" [formGroup]="paramettreForm" (ngSubmit)="onClickSubmit()" novalidate>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Frais adhesion persone physique (FCFA)" type="text" id="frais_adhesion" formControlName="frais_adhesion_physique">
                                                        </mat-form-field>
                                                        <div class="errors">
                                                            <span *ngIf="frais_adhesion_physique && frais_adhesion_physique.invalid && frais_adhesion_physique.touched && paramettreForm.get('frais_adhesion_physique').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                                            <!-- <span *ngIf="titre && titre.invalid && titre.touched && actualiteForm.get('titre').errors.minlength" [ngClass]="'error'"> Au moins {{ actualiteForm.get('question').errors.minlength.requiredLength }} caractères </span> -->
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">

                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Frais adhesion persone morale (FCFA)" type="text" id="frais_adhesion_morale" formControlName="frais_adhesion_morale">
                                                        </mat-form-field>
                                                        <div class="errors">
                                                            <span *ngIf="frais_adhesion_morale && frais_adhesion_morale.invalid && frais_adhesion_morale.touched && paramettreForm.get('frais_adhesion_morale').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                                            <!-- <span *ngIf="titre && titre.invalid && titre.touched && actualiteForm.get('titre').errors.minlength" [ngClass]="'error'"> Au moins {{ actualiteForm.get('question').errors.minlength.requiredLength }} caractères </span> -->
                                                        </div>

                                                    </div>


                                                    <div class="col-md-6">

                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Adresse" type="text" id="adress" formControlName="adress">
                                                        </mat-form-field>
                                                        <div class="errors">
                                                            <span *ngIf="adress && adress.invalid && adress.touched && paramettreForm.get('adress').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                                            <!-- <span *ngIf="titre && titre.invalid && titre.touched && actualiteForm.get('titre').errors.minlength" [ngClass]="'error'"> Au moins {{ actualiteForm.get('question').errors.minlength.requiredLength }} caractères </span> -->
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-md-6">

                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Telephone" type="text" id="telephone" formControlName="telephone">
                                                        </mat-form-field>
                                                        <div class="errors">
                                                            <span *ngIf="telephone && telephone.invalid && telephone.touched && paramettreForm.get('telephone').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                                            <!-- <span *ngIf="titre && titre.invalid && titre.touched && actualiteForm.get('titre').errors.minlength" [ngClass]="'error'"> Au moins {{ actualiteForm.get('question').errors.minlength.requiredLength }} caractères </span> -->
                                                        </div>

                                                    </div>


                                                    <div class="col-md-6">

                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Email" type="text" id="email" formControlName="email">
                                                        </mat-form-field>
                                                        <div class="errors">
                                                            <span *ngIf="email && email.invalid && email.touched && paramettreForm.get('email').errors.required" [ngClass]="'error'">Renseignez ce champs svp</span>
                                                            <!-- <span *ngIf="titre && titre.invalid && titre.touched && actualiteForm.get('titre').errors.minlength" [ngClass]="'error'"> Au moins {{ actualiteForm.get('question').errors.minlength.requiredLength }} caractères </span> -->
                                                        </div>

                                                    </div>



                                                </div>

                                                <div class="row">

<!--                                                    <div class="col-md-6 ">-->

<!--                                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">-->
<!--                                                            <div class="form-control" data-trigger="fileinput">-->
<!--                                                                <span class="fileinput-filename">Lettre du RESHAOC</span>-->
<!--                                                            </div>-->
<!--                                                            <span class="input-group-append">-->
<!--                                      <span class="input-group-text fileinput-exists" data-dismiss="fileinput">-->
<!--                                        <span class="fa fa-remove text-danger"></span>-->
<!--                                    </span>-->

<!--                                    <span class="input-group-text btn-file">-->
<!--                                        <span class="fileinput-new">Fichier</span>-->
<!--                                    <span class="fileinput-exists">Change</span>-->
<!--                                    <input type="file" placeholder="Lettre du RESHAOC" name="file" accept=".pdf,.PDF" (change)="handleFileInput($event)">-->
<!--                                    </span>-->
<!--                                    </span>-->
<!--                                                        </div>-->

<!--                                                    </div>-->



                                                </div>





                                            </div>

                                            <div class="card-footer d-flex justify-content-end ">
                                                <div>
                                                    <a routerLink="/regulations " mat-raised-button=" " class="btn btn-fill btn-default mat-raised-button mat-button-base ">
                                                        <span class="mat-button-wrapper ">Annuler</span>
                                                        <div matripple=" " class="mat-ripple mat-button-ripple ">
                                                        </div>
                                                        <div class="mat-button-focus-overlay "></div>
                                                    </a>
                                                </div>
                                                <div>
                                                    <button mat-raised-button=" " type="submit" id="sbt_btn" class="btn btn-fill btn-rose mat-raised-button mat-button-base ">
                                                        <span class="fa fa-spinner fa-spin d-none" id="spinner"></span>
                                                        <span class="mat-button-wrapper ">Enregistrer</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>











                                </div>
                            </div>
                        </div>

                    </div>


            </div>

            <div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Image Baniere RESHAOC</h3>
                        <p class="card-category">Ce panel vous permets de gérer les baniere de RESHAOC</p>

                    </div>
                    <div class="card-body">
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="m-2" *ngIf="!spinner">
                                <div class="d-flex justify-content-end">

                                </div>

                                <div>

                                    <div class="row">
                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Présentation du RESHAOC
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ imgPresentation }}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img1" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('PRESENTATION-RESHAOC')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Missions
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ imgMissions }}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img"   accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('MISSIONS')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Objectifs
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ imgObjectifs}}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('OBJECTIFS')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Organisation
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ imgOrganisation}}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('ORGANISATION')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>
                                    </div>


<!--        -->
                                    <div class="row">

<!--
                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                   Documents fondamentaux
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ imgDocuments}}" alt="...">

                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('DOCUMENTS')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                   Plan strategique
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ imgPlan}}" alt="...">

                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('PLAN')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>
                            -->

                                    </div>





                                </div>




                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="nav-objectif" role="tabpanel" aria-labelledby="nav-objectif-tab">


                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Image Baniere Partenariat</h3>
                        <p class="card-category">Ce panel vous permets de gérer les baniere de partenariat</p>

                    </div>
                    <div class="card-body">
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="m-2" *ngIf="!spinner">
                                <div class="d-flex justify-content-end">

                                </div>

                                <div>

                                    <div class="row">
                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Partenariat Sud-Sud
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ PARTENARIAT_SUD_SUD }}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img1" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('PARTENARIAT-SUD-SUD')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Partenariat inter hospitalière
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ PARTENARIAT_INTER_HOSPITALIERE }}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img"   accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('PARTENARIAT-INTER-HOSPITALIERE')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Coopération internationale
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ COOPERATION_INTERNATIONALE}}" alt="...">
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('COOPERATION-INTERNATIONALE')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Relation d'appui et sponsoring
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ RELATION_APPUI_SPONSORING}}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('RELATION-APPUI-SPONSORING')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>


                                    </div>





                                </div>




                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="nav-organisation" role="tabpanel" aria-labelledby="nav-organisation-tab">


                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Image Baniere Evernementiel</h3>
                        <p class="card-category">Ce panel vous permets de gérer les baniere de Evernementiel</p>

                    </div>
                    <div class="card-body">
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="m-2" *ngIf="!spinner">
                                <div class="d-flex justify-content-end">

                                </div>

                                <div>

                                    <div class="row">
                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Journées Hospitalières
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ JOURNEE_HOSPITALIERE }}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img1" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('JOURNEE-HOSPITALIERE')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Journées de Coopération
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{JOURNEE_COOPERATION }}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img"   accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('JOURNEE-COOPERATION')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Journées Scientifiques
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ JOURNEE_SCIENTIFIQUE}}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('JOURNEE-SCIENTIFIQUE')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="title text-justify">
                                                    Autres évenements
                                                </div>

                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="{{ url }}/param_image/{{ AUTRE_EVERNEMENT}}" alt="...">
                                                    <!--                                                        <img src="./assets/img/image_placeholder.jpg" alt="...">-->
                                                </div>
                                                <div>
                                                        <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Image de mise en avant</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="img" id="img3" accept="image/png, image/gif, image/jpeg" (change)="handleImgInput($event)">
                                                        </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput ">
                                                        <span class="fa fa-remove text-danger"></span>
                                                    </a>

                                                </div>
                                                <a   (click)="uploadImage('AUTRE_EVERNEMENT')" class="btn btn-outline-primary"  >
                                                    <span class="fa text-primary">ENREGISTRER &nbsp; &nbsp; &nbsp;</span>
                                                </a>

                                            </div>
                                        </div>


                                    </div>





                                </div>




                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="nav-plan" role="tabpanel" aria-labelledby="nav-journee-tab">


                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Plan stratégique </h3>
                        <p class="card-category">Ce panel vous permets de gérer le plan stratégique du RESAHOC'</p>

                    </div>
                    <div class="card-body">
                        <div class=" m-3 d-flex justify-content-between">

                        </div>
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="m-2" *ngIf="!spinner">

                                <div class="d-flex justify-content-end">

                                    <button   (click)="enregistrer('plan')"    type="submit" id="sbt_btn" class="btn btn-fill btn-success mat-raised-button mat-button-base">
                                        <span class="fa fa-spinner fa-spin d-none" id="spinnerOrganisation"></span>
                                        <span class="mat-button-wrapper ">Enregistrer</span>
                                    </button>
                                </div>

                                <div>
                                    <ngx-quill   [style]="{'height':'300px'}"   [options]="editorOptions"
                                                 (blur)="onEditorBluredPlan($event)"
                                                 (focus)="onEditorFocusedPlan($event)"
                                                 (ready)="onEditorCreatedPlan($event)"
                                                 (change)="onContentChangedPlan($event)">
                                    </ngx-quill>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="nav-plan" role="tabpanel" aria-labelledby="nav-journee-tab">


                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">     Documents fondamentaux </h3>
                        <p class="card-category">Ce panel vous permets de gérer les Documents fondamentaux</p>

                    </div>
                    <div class="card-body">
                        <div class=" m-3 d-flex justify-content-between">

                        </div>
                        <div class="row table-responsible">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-success text-center" role="status" *ngIf="spinner">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="m-2" *ngIf="!spinner">





                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>









</div>