<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto" style="margin-top:10% !important">
            <form novalidate="" method="" action="" class="form ng-untouched ng-pristine ng-valid">
                <div class="card card-login">
                    <div class="card-header card-header-rose text-center">
                        <h3 class="card-title">Connexion</h3>
                        <div class="social-line">
                            <div class="d-flex flex-column">
                                <div class="text-center">
                                    <img src="/assets/img/logo_ministere.png" width="150" />
                                </div>
                                <div class="">
                                    <p>Renseignez votre email!</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <span class="bmd-form-group">
                     
                </span>
                        <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">email</i></span>
                    </div>
                    <input type="email" placeholder="Email..." class="form-control">
                </div>
                </span><span class="bmd-form-group">
       
    </span>
        </div>
        <div class="card-footer justify-content-center">
            <div class="d-flex flex-column">
                <div>
                    <a href="#/dashboard" class="btn btn-rose btn-link btn-lg">Envoyer</a>
                </div>
                <div class="text-center">
                    <a href="#/login">Login</a>
                </div>
            </div>

        </div>
    </div>
    </form>
</div>
</div>
</div>